# IDE/Editor files
.idea
.bsp
.ensime
.ensime_cache/
sparkz.yaml

# Eclipse/Scala IDE files
.classpath
.project
.settings
.cache-main
.cache-tests
/bin/

# SBT's temporary files
.history

# scala build folders
target
project/project/

# cache dirs
.ivy2/
.sbt/

# dotfiles
.dockerignore
.editorconfig

# standalone docker
Dockerfile

# logs
*.log

# db files
*.data

# for temporary experiments
sheet.scala
examples/src/main/scala/examples/sigmastate/
examples/lib/
